/*
!/CraneTweet
!/*.sln
!/.gitignore

/CraneTweet/*
!/CraneTweet/conf
!/CraneTweet/css
!/CraneTweet/images
!/CraneTweet/js
!/CraneTweet/pages
!/CraneTweet/*.html
!/CraneTweet/*.jsproj
!/CraneTweet/*.appxmanifest

Thumbs.db
